<div>
	<h2>Needing Rides</h2>
	<table>
		<thead>
			<tr>
				<th>Name</th><th>Day</th><th>Arrive By</th><th>Destination</th>
			</tr>
		</thead>
		<tbody>
			{{#each postings}}
				{{#ifEq this.type 'ask'}}
				<tr>
					<td><a href="mailto:{{this.email}}?subject=Need a Ride?">{{this.firstName}} {{this.lastName}}</a></td><td>{{this.day}}</td><td>{{this.time}}</td><td>PDX</td>
				</tr>
				{{/ifEq}}
			{{/each}}
		</tbody>
	</table>
</div>

<div>
	<h2>Offering Rides</h2>
	<table>
		<thead>
			<tr>
				<th>Name</th><th>Day</th><th>Arrive At</th><th>Destination</th>
			</tr>
		</thead>
		<tbody>
			{{#each postings}}
				{{#ifEq this.type 'offer'}}
				<tr>
					<td><a href="mailto:{{this.email}}?subject=Can I Tag Along?">{{this.firstName}} {{this.lastName}}</a></td><td>{{this.day}}</td><td>{{this.time}}</td><td>PDX</td>
				</tr>
				{{/ifEq}}
			{{/each}}
		</tbody>
	</table>
</div>

<section class="form">
	<h3 id="success-message">Posting Successfully Added!</h3>
	<h2>Create a Posting</h2>
	<form id="posting-form">

		<label for="firstName">First Name</label>
		<input type="text" name="firstName" id="firstName">
		
		<label for="lastName">Last Name</label>
		<input type="text" name="lastName" id="lastName">
		
		<label for="email">Email</label>
		<input type="text" name="email" id="email">
		
		<label for="type">Type</label>
		<input type="radio" name="type" value="ask" checked><span>Ask</span>
		<input type="radio" name="type" value="offer"><span>Offer</span>

		<label for="day">Day</label>
		<input type="text" name="day" id="day">

		<label for="time">Time</label>
		<input type="text" name="time" id="time">


		<input type="submit" value="Submit">
	</form>
</section>