<div>
	<h2>Needing Rides to PDX</h2>
	<table>
		<thead>
			<tr>
				<th>Name:</th><th>Day:</th><th>Arrive By:</th><th>Destination:</th>
			</tr>
		</thead>
		<tbody>
			{{#each postings}}
				{{#ifEq this.type 'ask'}}
				<tr>
					<td><a href="mailto:{{this.email}}?subject=Need a Ride?">{{this.firstName}} {{this.lastName}}</a></td><td>{{this.day}}</td><td>{{this.time}}</td><td>PDX</td>
				</tr>
				{{/ifEq}}
			{{/each}}
		</tbody>
	</table>
</div>

<div>
	<h2>Offering Rides to PDX</h2>
	<table>
		<thead>
			<tr>
				<th>Name:</th><th>Day:</th><th>Arrive At:</th>
			</tr>
		</thead>
		<tbody>
			{{#each postings}}
				{{#ifEq this.type 'offer'}}
				<tr>
					<td><a href="mailto:{{this.email}}?subject=Can I Tag Along?">{{this.firstName}} {{this.lastName}}</a></td><td>{{this.day}}</td><td>{{this.time}}</td>
				</tr>
				{{/ifEq}}
			{{/each}}
		</tbody>
	</table>
</div>

<section class="form">
	<h3 id="success-message">Posting Successfully Added!</h3>
	<h2>Create a Posting</h2>
	<form id="posting-form">

		<label>First Name<input type="text" name="firstName"></label>
		<label>Last Name<input type="text" name="lastName"></label>
		<label>Email<input type="text" name="email"></label>
		<label>
		Type
		<input type="radio" name="type" value="ask" checked>Ask
		<input type="radio" name="type" value="offer">Offer
		</label>
		<label>Day<input type="text" name="day"></label>
		<label>Time<input type="text" name="time"></label>

		<input type="submit" value="Submit">
	</form>
</section>